/* Element */

:root{
  --Height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}

body{
 background: linear-gradient(271deg,#331c45 10%,#3b3f42 94%);
}



.l0{
  height: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to left, violet, purple);
}


/* --------------Nav Start------------------- */
.header1{
  z-index: 1;
 text-align: center;
 position: fixed;
 width: 100%;
 background-color: #1a1b1c;
}

nav ul li{
  display: inline-block;
  position: relative;
}

nav ul li:hover{
background-color: #372140;
}

nav ul li a{
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(var(--Height) / 60);
  font-weight: bold;
  padding: calc(var(--Height) / 50);
}

nav ul li ul{
  display: none;
  position: absolute;
  background-color: #372140;
  border-radius: 0 0 5px 5px;
}


nav ul li:hover ul{
  display: block;
}

nav ul li ul li{
  border-radius: 5px;
}
nav ul li ul li a{
  font-size: calc(var(--Height) / 70);
}
nav ul li ul li a:hover{
  background-color:  #3c1e61;
}



.logo {
  top: calc(var(--Height) /  50);
  right: calc(var(--Height) / 20);
  float: right;
  overflow: hidden;
  position: fixed;
  width:  calc(var(--Height) /  10);
  height:  calc(var(--Height) /  10);
  border-radius: 100%;
  border: 2px solid #63348a;
  background: #63348a;
}

.logo:hover{
  border: 10px solid #3c1e61;
  transition: .5s;
}

/* --------------Nav End------------------- */

/* ---------------Container-----------------*/

.container{
  width: 100%;
  height: var(--Height);
  scroll-behavior: smooth;
  overflow-y: scroll;
}


/* --------------Intro------------------ */
.header2{
  display: flex;
  background-image: url('image/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:  var(--Height);
  width: 100%;
  box-shadow: -1px 10px black;
}

.overlay{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
}

h1{
  color: white;
  margin: calc(var(--Height) / 5 ) calc(var(--Height) /  5 ) calc(var(--Height) / 5 ) calc(var(--Height) / 5 );
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: -4px 4px #745085;
  font-weight: bold;
  font-size: calc(var(--Height) / 10 );
}

/* --------------End Intro------------------ */


.me{
  margin: calc(var(--Height) / 5) calc(var(--Height) / 15) calc(var(--Height) / 5) calc(var(--Height) / 15);
}
.me:hover{
  transform: scale(1.05);
  transition: .8s;
}

.aboutMe{
  position: relative;
  height: var(--Height);
  weight: 100%;
  margin: calc(var(--Height) / 5) calc(var(--Height) / 15) 0 calc(var(--Height) / 15);
  display: flex;
  background:#1a1b1c;
  border-radius: 15px;
  box-shadow: 0px 10px black;
}

.myimage{
 box-shadow: -5px 5px #745085;
 border: #4b1c63 solid;
 border-radius: 15px;
 height: calc(var(--Height) / 2);
 weight: 100%;;
 margin-top: calc(var(--Height) / 4);
 margin-left: calc(var(--Height) / 4);
}

 .l1{
   margin: 100px auto;
   border-style: dotted none none;
   border-color: #533057;
   border-width: 20px;
   height: 0;
   width: 10%;
}

p{
  color: white;
  margin: calc(var(--Height) / 4 ) calc(var(--Height) / 6 ) calc(var(--Height) / 6 ) calc(var(--Height) / 10 );
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: calc(var(--Height) / 30 );
  padding: 20px;
  border-radius: 15px;
}


.about{
  text-shadow: -4px 3px #745085;
  font-size: calc(var(--Height) / 15 );
}


/* -------------Works--------------- */
.htmlWork{
  position: relative;
  height: var(--Height);
  weight: 100%;
  margin: calc(var(--Height) / 5) calc(var(--Height) / 15) 0 calc(var(--Height) / 15);
  display: flex;
  background:#1a1b1c;
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px black;
}


.html, .css, .travel{
  margin-bottom: calc(var(--Height) * -.03 );
  height:calc(var(--Height) / 10 );
  width: calc(var(--Height) / 10 );
}



.html1, .travel1{
  margin-left: calc(var(--Height) / 4 );
  font-size: calc(var(--Height) / 45 );
}

.css1{
  margin-right: calc(var(--Height) / 4 );
  font-size: calc(var(--Height) / 45 );
}

.html1:hover, .css1:hover, .travel1:hover{
  border-radius: 15px;
  transform: scale(1.1);
  transition: .8s;
}

/* ------Css---- */

.cssWork{
  height: var(--Height);
  weight: 100%;
  margin: calc(var(--Height) / 5) calc(var(--Height) / 15) 0 calc(var(--Height) / 15);
  display: flex;
  background:#1a1b1c;
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px black;
}

/* --------------------Travel Work-------------------- */
.travelWork{
  height: var(--Height);
  weight: 100%;
  margin: calc(var(--Height) / 5) calc(var(--Height) / 15) calc(var(--Height) / 5) calc(var(--Height) / 15);
  display: flex;
  background:#1a1b1c;
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px black;
}


/* -------------Button-------------- */

#img, #img2 , #img1{
  cursor: pointer;
  border-radius: 15px;
  box-shadow: -2px 2px #745085;
  height:calc(var(--Height) / 2.5 );
  width: calc(var(--Height) / 1.3 );
  margin: calc(var(--Height) / 4 ) calc(var(--Height) / 10 );
  margin-right: calc(var(--Height) / 10);
}

#img:hover, #img1:hover, #img2:hover{
  border: 3px solid #7a389c;
   transform: scale(1.1);
   transition: .8s;
}



.myButton {
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: calc(var(--Height) / 60 );
  color: #ded1e3;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #291e2e;
  box-shadow: -2px 2px #745085;
}
.myButton:hover {
  color:  purple;
  border: 3px solid purple;
  transition: .8s;
  border-radius: 10px;
  text-decoration: none;
}







/* ------------------Footer----------------- */
footer {
  position: relative;
  height: 100vh;
}



.foot{
  color:#8e7199;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: calc(var(--Height) / 60);
  padding: 15px;
  margin-bottom: 20px;
}
footer ul li{
  float: left;
  padding-top: calc(var(--Height) / 20);
  display: inline-block;
  position: relative;
}

footer ul li img{
  border: 3px solid black;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
  position: relative;
  transition: .8s;
}

footer ul li img:hover{
color:  purple;
border: 3px solid purple;
transition: .8s;
}

footer ul li a{
  display: block;
  padding: 10px ;
  text-decoration: none;
}

footer ul li a img{
  width: calc(var(--Height) / 40);
}

.l2{
  height: 2px;
  border: none;
  border-radius: 5px;
  background: purple;
  margin-bottom: 20px;
}

/* --------------Contact ME------------------- */
label{
  color:  #ded1e3;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: calc(var(--Height) / 50);
  margin-bottom: 20px;
}
input{
  color: #ded1e3;
}

textarea{
  color: #ded1e3;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #1a1b1c;
  box-shadow: -2px 2px #745085;
  font-family: 'Trebuchet MS', sans-serif;
  height: calc(var(--Height) / 5);
  width: calc(var(--Height) / 1);
}

.inputEmail{
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: calc(var(--Height) / 60 );
  color: #ded1e3;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1a1b1c;
  height: calc(var(--Height) / 20);
  width: calc(var(--Height) / 10);
  box-shadow: -2px 2px #745085;
  margin-left: 20px;
}

.inputEmail:hover{
  color:  purple;
  border: 3px solid purple;
  transition: .8s;
  border-radius: 10px;
  text-decoration: none;
}

.contactMe{
  color: #ffffff;
  width: calc(var(--Height) / 3 );
  margin: auto;
  margin-top: calc(var(--Height) / 10 );
  margin-bottom: calc(var(--Height) / 30 );
  font-family: 'Trebuchet MS', sans-serif;
  text-shadow: -4px 4px #745085;
  font-weight: bold;
  font-size: calc(var(--Height) / 20 );
}

#contact{
    margin: auto;
    width: 50%;
    padding: 10px;
}


#idEmail{
  padding-left: 10px;
  height: calc(var(--Height) / 20);
  width: calc(var(--Height) / 5);
  border: none;
  border-radius: 10px;
  background-color: #1a1b1c;
  box-shadow: -2px 2px #745085;
}


.credit div{
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: calc(var(--Height) / 60 );
  color: #ded1e3;
}
